<section class="p-6 space-y-6">
  <div class="flex items-center justify-center">
    <div class="flex items-center justify-between w-1/3 text-2xl">
      <p class="font-bold"><</p>
      <p>24-02-2025</p>
      <p class="font-bold">></p>
    </div>
  </div>
  <div class="space-y-3">
    <div class="flex items-center justify-between">
      <div><p class="font-bold text-xl">Day's Transactions</p></div>
      <div>
        <button
          class="bg-blue-500 text-white px-4 py-1 rounded-md"
          (click)="openModal()"
        >
          Add Transaction
        </button>
      </div>
    </div>
    <app-table [data]="data"></app-table>
  </div>
</section>

<app-modal [isOpen]="isModalOpen">
  <div class="space-y-6 px-2">
    <div class="space-y-4">
      <h2 class="text-xl font-semibold text-slate-800">Add Transaction</h2>

      <div class="">
        <label class="font-bold text-slate-700">Name</label>
        <input
          type="text"
          class="w-full mt-1 px-2 py-1 border rounded-md shadow-sm focus:ring focus:ring-slate-200 focus:border-slate-400"
          placeholder="Enter transaction name"
        />
      </div>

      <!-- Category Radio Buttons -->
      <div class="">
        <label class="font-bold text-slate-700">Category</label>
        <div class="flex space-x-6 mt-1">
          <label class="flex items-center">
            <input
              type="radio"
              name="category"
              value="earnings"
              class="mr-2 accent-slate-800"
            />
            Earnings
          </label>
          <label class="flex items-center">
            <input
              type="radio"
              name="category"
              value="spends"
              class="mr-2 accent-slate-800"
            />
            Spends
          </label>
          <label class="flex items-center">
            <input
              type="radio"
              name="category"
              value="savings"
              class="mr-2 accent-slate-800"
            />
            Savings
          </label>
        </div>
      </div>

      <!-- Amount Input -->
      <div class="">
        <label class="font-bold text-slate-700">Amount</label>
        <input
          type="number"
          class="w-full mt-1 px-2 py-1 border rounded-md shadow-sm focus:ring focus:ring-slate-200 focus:border-slate-400"
          placeholder="Enter amount"
        />
      </div>

      <div class="">
        <label class="font-bold text-slate-700">Notes</label>
        <input
          type="text"
          class="w-full mt-1 px-2 py-1 border rounded-md shadow-sm focus:ring focus:ring-slate-200 focus:border-slate-400"
          placeholder="Enter Notes"
        />
      </div>
    </div>
    <div class="flex items-center justify-end space-x-3">
      <button
        class="border border-slate-300 px-2 py-1 rounded-md cursor-pointer"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        class="bg-green-700 text-white px-4 py-1 rounded-md cursor-pointer"
      >
        Save
      </button>
    </div>
  </div>
</app-modal>
