<section class="p-6 space-y-10">
  <div>
    <h1 class="text-2xl font-bold">Transactions</h1>
    <p>
      View and manage all your earnings, spends, and savings here. You can add,
      edit, or delete transactions to keep your records up to date.
    </p>
  </div>
  <div class="space-y-3">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center justify-between w-1/3 text-2xl font-bold">
        <button
          class="font-bold hover:bg-slate-950 cursor-pointer py-1 px-4 transition-all bg-slate-800 text-white"
          (click)="prevDay()"
        >
          &lt;
        </button>
        <input
          type="date"
          [value]="selectedDate"
          (change)="onDateChange($event)"
        />
        <button
          (click)="nextDay()"
          class="font-bold hover:bg-slate-950 cursor-pointer py-1 px-4 transition-all bg-slate-800 text-white"
        >
          &gt;
        </button>
      </div>
      <div class="flex items-center justify-end">
        <div>
          <button
            class="bg-slate-600 text-white px-4 py-1 rounded-md hover:bg-slate-800 cursor-pointer"
            (click)="openModal()"
          >
            Add Transaction
          </button>
        </div>
      </div>
    </div>
    <app-table [data]="data"></app-table>
  </div>
</section>

<app-modal [isOpen]="isModalOpen">
  <form class="space-y-6 px-2" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="space-y-4">
      <h2 class="text-xl font-semibold text-slate-800">Add Transaction</h2>

      <!-- Name Input -->
      <div class="">
        <label class="font-bold">Name</label>
        <input
          formControlName="name"
          [attr.style]="
            formData.controls['name'].invalid &&
            formData.controls['name'].touched
              ? 'border-color: red'
              : ''
          "
          type="text"
          class="w-full mt-1 px-2 py-1 border rounded-md shadow-sm focus:ring focus:ring-slate-200 focus:border-slate-400"
          placeholder="Enter transaction name"
        />
        @if(formData.controls['name'].invalid &&
        formData.controls['name'].touched){
        <span class="text-sm text-red-500">Name is required.</span>
        }
      </div>

      <!-- Category Radio Buttons -->
      <div class="">
        <label class="font-bold">Category</label>
        <div class="flex space-x-6 mt-1">
          @for (category of categoryOptions; track category) {
          <label class="flex items-center capitalize">
            <input
              type="radio"
              formControlName="category"
              [value]="category"
              class="mr-2 accent-slate-800"
            />
            {{ category }}
          </label>
          }
        </div>
      </div>

      <!-- Amount Input -->
      <div class="">
        <label class="font-bold">Amount</label>
        <input
          formControlName="amount"
          type="number"
          [attr.style]="
            formData.controls['amount'].invalid &&
            formData.controls['amount'].touched
              ? 'border-color: red'
              : ''
          "
          class="w-full mt-1 px-2 py-1 border rounded-md shadow-sm focus:ring focus:ring-slate-200 focus:border-slate-400"
          placeholder="Enter amount"
        />
        @if(formData.controls['amount'].invalid &&
        formData.controls['amount'].touched){
        <span class="text-sm text-red-500"
          >Amount should be greater than 1</span
        >
        }
      </div>

      <!-- Tags Dropdown -->
      <div class="flex flex-col">
        <label class="font-bold">Tags</label>

        <select
          formControlName="tags"
          [attr.style]="
            formData.controls['tags'].invalid &&
            formData.controls['tags'].touched
              ? 'border-color: red'
              : ''
          "
          class="w-1/2 mt-1 py-1 border rounded-md"
        >
          <option value="" disabled selected>Select a Tag</option>
          @for (tag of tagOptions; track tag) {
          <option [value]="tag">{{ tag }}</option>
          }
        </select>

        @if(formData.controls['tags'].invalid &&
        formData.controls['tags'].touched){
        <span class="text-sm text-red-500">Tags is required.</span>
        }
      </div>

      <!-- Notes Input -->
      <div class="">
        <label class="font-bold">Notes</label>
        <input
          formControlName="notes"
          type="text"
          class="w-full mt-1 px-2 py-1 border rounded-md shadow-sm focus:ring focus:ring-slate-200 focus:border-slate-400"
          placeholder="Enter Notes"
        />
      </div>
    </div>

    <div class="flex items-center justify-end space-x-3">
      <button
        type="button"
        class="border border-slate-300 px-2 py-1 rounded-md cursor-pointer"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="bg-green-700 text-white px-4 py-1 rounded-md cursor-pointer"
      >
        Save
      </button>
    </div>
  </form>
</app-modal>
