<header class="fixed top-0 left-0 w-full">
  <div class="flex items-center justify-between bg-black py-1 text-white px-6">
    <p>Your Lifetime Earnings : <span class="text-green-400">$120,000</span></p>
    <p>Your Lifetime Spendings : <span class="text-red-400">$90,000</span></p>
    <p>Your Lifetime Savings : <span class="text-sky-400">$120,000</span></p>
  </div>
  <nav
    class="bg-gray-900 text-white flex items-center justify-between px-6 py-2 shadow-md z-50"
  >
    <div class="flex-1 text-xl font-bold">Kaasubae</div>
    <button
      class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-4 rounded-lg transition duration-300"
    >
      Logout
    </button>
  </nav>
</header>
