<div class="w-full h-screen p-5 flex flex-col items-center justify-center">
  <div class="flex items-center space-x-24 mb-4">
    <button
      (click)="changeMonth(-1)"
      class="text-xl bg-blue-500 text-white rounded-md hover:bg-blue-600 px-4 py-1"
    >
      Previous
    </button>

    <h2 class="text-2xl font-semibold text-center">
      {{ getMonthName() }} {{ currentYear() }}
    </h2>

    <button
      (click)="changeMonth(1)"
      class="text-xl bg-blue-500 text-white rounded-md hover:bg-blue-600 px-4 py-1"
    >
      Next
    </button>
  </div>

  <div class="grid grid-cols-7 w-full bg-blue-500 text-white p-2 text-center">
    <div *ngFor="let day of daysOfWeek" class="p-2 font-semibold">
      {{ day }}
    </div>
  </div>

  <div class="grid grid-cols-7 w-full border border-gray-200">
    <div
      *ngFor="let day of calendarDays()"
      (click)="selectDate(day)"
      class="p-8 flex items-center justify-center border border-gray-200 text-lg cursor-pointer hover:bg-blue-500 hover:text-white"
      [class.bg-gray-50]="day === null"
      [class.p-12]="day === null"
      [class.bg-blue-500]="selectedDate() === day"
      [class.text-white]="selectedDate() === day"
      [class.hover:bg-gray-50]="day === null"
    >
      <div>
        {{ day ? day : "" }}
      </div>

      <span *ngIf="day === currentDateDD" class="ml-2 text-sm font-semibold"
        >⭐</span
      >
    </div>
  </div>
</div>
