@import "tailwindcss";

.primary {
  @apply bg-slate-900 text-white;
}

.earnings {
  @apply text-green-400 font-mono;
}

.spends {
  @apply text-[#FF4433] font-mono; /* Red-Orange from https://htmlcolorcodes.com/colors/shades-of-red/ */
}

.savings {
  @apply text-orange-400 font-mono;
}

.lato {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}
