<div
  class="w-full h-screen flex flex-col items-center justify-center"
  *ngIf="selectedDate; else noDate"
>
  <h2 class="text-xl font-bold">Selected Date:</h2>
  <p class="text-2xl mt-2">
    {{ selectedDate }}
  </p>
</div>

<ng-template #noDate>
  <div class="p-8 space-y-4 mt-24">
    <p class="text-2xl">{{ selectedMonth }} {{ selectedYear }} Summary</p>
    <div class="space-y-2">
      <p>Earnings : <span class="text-green-700">$20,000</span></p>
      <p>Spendings : <span class="text-red-600">$9,000</span></p>
      <p>Savings : <span class="text-sky-600">$12,000</span></p>
    </div>
    <p class="text-2xl">Mandates</p>
    <div class="space-y-3">
      <p>
        Car Loan : <span class="text-red-600">$1,000</span> - 5th of Every Month
        <span class="bg-green-200 text-green-700 px-2 py-0.5 rounded-md ml-2"
          >Paid</span
        >
      </p>
      <p>
        SIP : <span class="text-sky-600">$1,000</span> - 25th of Every Month
        <span class="bg-orange-200 text-orange-600 px-2 py-0.5 rounded-md ml-2"
          >Upcoming</span
        >
      </p>
      <p>
        Laptop Loan : <span class="text-red-600">$1,000</span> - 15th of Every
        Month
        <span class="bg-red-200 text-red-600 px-2 py-0.5 rounded-md ml-2"
          >Missed</span
        >
      </p>
      <button class="bg-gray-800 text-white py-1 px-4 rounded-md">
        Add Mandate
      </button>
    </div>
    <p class="text-2xl">Highest Spends</p>
    <div class="space-y-3">
      <p>Car Loan : <span class="text-red-600">$1,000</span></p>
    </div>
  </div>
</ng-template>
